<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>

    <script src="https://use.fontawesome.com/e2d16502eb.js"></script>

    <meta http-equiv='Content-Type' content='text/html; charset=UTF-8'/>
    <style>
        #page-wrap { width: 297mm; height:210mm; margin: 0 auto; }
        td {
            font-size:12px;
        }

        @media all {
            .page-break	{ display: none; }
        }

        @media print {
            .page-break	{ display: block; page-break-before: always; }
        }

        body{
            font-family: 'Droid Sans', sans-serif;
        }

    </style>
    <link href="https://fonts.googleapis.com/css?family=Droid+Sans" rel="stylesheet">
</head>

<body>
<div id="page-wrap">
    <table width="100%" style="border:1px solid;" cellspacing="0" cellpadding="0">

        <tr>
            <td style="height:30px; border-bottom:1px solid;" valign="top">
                <h1 style="text-align:center; font-weight:bolder; text-transform:uppercase; margin-top:3px; margin-bottom:3px;">
                    <b>Tax Invoice</b></h1>
            </td>
        </tr>

        <tr>
            <td style="height:45px;" valign="top">
                <table width="100%" cellspacing="0" cellpadding="0">
                    <tr>
                        <td width="50%" style="height:45px; border-right:1px solid;">
                            <p style="font-size:18px; font-weight:bolder; text-align:center;">YASHODA RETAIL</p>
                        </td>
                        <td width="50%" style="height:45px;" valign="top">
                            <p style="text-align:center; font-weight:bold; margin-bottom:0px; margin-top:4px;">86 T2, GC Emerald Heights, Ramprastha Greens, Vaishali-7, Gzb</p>
                            <p style="text-align:center; font-weight:bold; margin-top:4px; margin-bottom:0px;">UP-201010</p>
                            <p style="text-align:center; font-weight:bold; margin-bottom:0px; margin-top:4px;"><i
                                    class="fa fa-phone" aria-hidden="true"></i> +91 9212018134</p>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>

        <tr>
            <td width="100%">
                <table width="100%" cellspacing="0" cellpadding="0">
                    <tr>
                        <td width="50%"
                            style="border-top:1px solid; height:100px; border-right:1px solid; padding-left:10px;"
                            valign="top">
                            <!-- Invoice Details -->
                            <table width=100%">
                                <tr>
                                    <td style="height:25px; width:25%">Invoice Number</td>
                                    <td style="height:25px; width:95%" colspan="3">: <input type="text" style="width:95%"></td>
                                </tr>
                                <tr>
                                    <td style="height:25px; width:25%">Invoice Date</td>
                                    <td style="height:25px; width:95%" colspan="3">: <input type="text" style="width:95%"></td>
                                </tr>
                                <tr>
                                    <td style="height:25px; width:25%">Reverse Charge (Y/N)</td>
                                    <td style="height:25px; width:95%" colspan="3">: <input type="text" style="width:95%"></td>
                                </tr>
                                <tr>
                                    <td style="height:25px; width:20%">State</td>
                                    <td style="height:25px; width:50%">: <input type="text" style="width:95%"></td>
                                    <td style="height:25px; width:10%">Code</td>
                                    <td style="height:25px; width:15%">: <input type="text" style="width:60%"></td>
                                </tr>
                            </table>
                            <!-- Invoice Details -->
                        </td>
                        <td width="50%" style="border-top:1px solid; padding-left:10px;" valign="top">
                            <!-- Invoice Other Details -->
                            <table width=100%">
                                <tr>
                                    <td style="height:25px; width:25%">Transaction mode</td>
                                    <td style="height:25px; width:95%" colspan="3">: <input type="text" style="width:95%"></td>
                                </tr>
                                <tr>
                                    <td style="height:25px; width:25%">Vehicle Number</td>
                                    <td style="height:25px; width:95%" colspan="3">: <input type="text" style="width:95%"></td>
                                </tr>
                                <tr>
                                    <td style="height:25px; width:25%">Date & Time Of Supply</td>
                                    <td style="height:25px; width:95%" colspan="3">: <input type="text" style="width:95%"></td>
                                </tr>
                                <tr>
                                    <td style="height:25px; width:25%">Place of Supply</td>
                                    <td style="height:25px; width:95%" colspan="3">: <input type="text" style="width:95%"></td>
                                </tr>
                            </table>
                            <!-- Invoice Other Details -->
                        </td>
                    </tr>
                </table>
            </td>
        </tr>

        <tr>
            <td width="100%">
                <table width="100%" cellspacing="0" cellpadding="0">
                    <tr>
                        <td width="50%"
                            style="border-top:1px solid; height:25px; border-right:1px solid; background-color:#eaeaea; text-align:center;">
                            Details of Receiver (Billed to)
                        </td>
                        <td width="50%"
                            style="border-top:1px solid; background-color:#eaeaea; height:25px; text-align:center;">
                            Details of consignee (Shipped to)
                        </td>
                    </tr>
                </table>
            </td>
        </tr>

        <tr>
            <td width="100%">
                <table width="100%" cellspacing="0" cellpadding="0">
                    <tr>
                        <td width="50%"
                            style="border-top:1px solid; height:110px; border-right:1px solid; padding-left:10px;"
                            valign="top">
                            <!--Billed To Details -->
                             <table width=100%">
                                <tr>
                                    <td style="height:25px; width:25%">Name</td>
                                    <td style="height:25px; width:95%" colspan="3">: <input type="text" style="width:95%"></td>
                                </tr>
                                <tr>
                                    <td style="height:25px; width:25%">Address</td>
                                    <td style="height:25px; width:95%" colspan="3">: <input type="text" style="width:95%"></td>
                                </tr>
                                  <tr>
                                    <td style="height:25px; width:25%"></td>
                                    <td style="height:25px; width:95%" colspan="3">: <input type="text" style="width:95%"></td>
                                </tr>
                                <tr>
                                    <td style="height:25px; width:25%">GSTIN</td>
                                    <td style="height:25px; width:95%" colspan="3">: <input type="text" style="width:95%"></td>
                                </tr>
                                 <tr>
                                    <td style="height:25px; width:20%">State</td>
                                    <td style="height:25px; width:50%">: <input type="text" style="width:95%"></td>
                                    <td style="height:25px; width:10%">Code</td>
                                    <td style="height:25px; width:15%">: <input type="text" style="width:60%"></td>
                                </tr>
                            </table>
                            <!--Billed To Details -->
                        </td>
                        <td width="50%" style="border-top:1px solid; padding-left:10px;" valign="top">
                            <!--Shipped To Details -->
                            <table width=100%">
                                <tr>
                                    <td style="height:25px; width:25%">Name</td>
                                    <td style="height:25px; width:95%" colspan="3">: <input type="text" style="width:95%"></td>
                                </tr>
                                <tr>
                                    <td style="height:25px; width:25%">Address</td>
                                    <td style="height:25px; width:95%" colspan="3">: <input type="text" style="width:95%"></td>
                                </tr>
                                  <tr>
                                    <td style="height:25px; width:25%"></td>
                                    <td style="height:25px; width:95%" colspan="3">: <input type="text" style="width:95%"></td>
                                </tr>
                                <tr>
                                    <td style="height:25px; width:25%">GSTIN</td>
                                    <td style="height:25px; width:95%" colspan="3">: <input type="text" style="width:95%"></td>
                                </tr>
                                 <tr>
                                    <td style="height:25px; width:20%">State</td>
                                    <td style="height:25px; width:50%">: <input type="text" style="width:95%"></td>
                                    <td style="height:25px; width:10%">Code</td>
                                    <td style="height:25px; width:15%">: <input type="text" style="width:60%"></td>
                                </tr>
                            </table>
                            <!--Shipped To Details -->
                        </td>
                    </tr>
                </table>
            </td>
        </tr>

        <tr>
            <td width="100%">
                <table cellspacing="0" cellpadding="0" width="100%">
                    <tr>
                        <td style="border-top:1px solid; border-right:1px solid; height:20px; text-align:center;"
                            width="3%">No
                        </td>
                        <td width="24%"
                            style="border-top:1px solid; border-right:1px solid; text-align:center; height:20px;">
                            Description of Goods
                        </td>
                        <td width="8%"
                            style="border-top:1px solid; border-right:1px solid; text-align:center; height:20px;">HSN
                            Code
                        </td>
                        <td width="8%"
                            style="border-top:1px solid; border-right:1px solid; text-align:center; height:20px;">
                            Quantity
                        </td>
                        <td width="10%"
                            style="border-top:1px solid; border-right:1px solid; text-align:center; height:20px;">RATE
                        </td>
                        <td width="10%"
                            style="border-top:1px solid; border-right:1px solid; text-align:center; height:20px;">TOTAL
                            <br> (A)
                        </td>
                        <td width="10%"
                            style="border-top:1px solid; border-right:1px solid; text-align:center; height:35px;">
                            <table width="100%" cellspacing="0" cellpadding="0">
                                <tr>
                                    <td colspan="2" style="border-bottom:1px solid; height:15px;" width="100%">CGST
                                        (B)
                                    </td>
                                </tr>
                                <tr>
                                    <td width="30%" style="border-right:1px solid; height:20px;">%</td>
                                    <td width="70%">Amount</td>
                                </tr>
                            </table>

                        </td>
                        <td width="10%"
                            style="border-top:1px solid; border-right:1px solid; text-align:center; height:35px;">
                            <table width="100%" cellspacing="0" cellpadding="0">
                                <tr>
                                    <td colspan="2" style="border-bottom:1px solid; height:15px;" width="100%">SGST
                                        (C)
                                    </td>
                                </tr>
                                <tr>
                                    <td width="30%" style="border-right:1px solid; height:20px;">%</td>
                                    <td width="70%">Amount</td>
                                </tr>
                            </table>

                        </td>
                        <td width="10%" style="border-top:1px solid;  text-align:center; height:35px;">
                            <table width="100%" cellspacing="0" cellpadding="0">
                                <tr>
                                    <td colspan="2" style="border-bottom:1px solid; height:15px;" width="100%">CGST
                                        (D)
                                    </td>
                                </tr>
                                <tr>
                                    <td width="30%" style="border-right:1px solid; height:20px;">%</td>
                                    <td width="70%">Amount</td>
                                </tr>
                            </table>

                        </td>
                        <td width="8%"
                            style="border-top:1px solid; border-left:1px solid; text-align:center; height:20px;">
                            (A+B+C+D) TOTAL
                        </td>
                    </tr>
                </table>
            </td>
        </tr>


        <tr>
            <td width="100%">
                <table cellspacing="0" cellpadding="0" width="100%" ng-repeat="row in rows">
                    <tr>
                        <td style="border-top:1px solid; border-right:1px solid; height:30px; text-align:center;"
                            width="3%">1.
                        </td>
                        <td width="24%"
                            style="border-top:1px solid; border-right:1px solid; text-align:center; height:30px;">
                            SAMSUNG Galaxy Note 2
                        </td>
                        <td width="8%"
                            style="border-top:1px solid; border-right:1px solid; text-align:center; height:30px;">897845
                        </td>
                        <td width="8%"
                            style="border-top:1px solid; border-right:1px solid; text-align:center; height:30px;">1 Nos
                        </td>
                        <td width="10%"
                            style="border-top:1px solid; border-right:1px solid; text-align:center; height:30px;">
                            32,000.00
                        </td>
                        <td width="10%"
                            style="border-top:1px solid; border-right:1px solid; text-align:center; height:30px;">
                            32,000.00
                        </td>
                        <td width="10%"
                            style="border-top:1px solid; border-right:1px solid; text-align:center; height:30px;">
                            <table width="100%" cellspacing="0" cellpadding="0">
                                <tr>
                                    <td width="30%" style="border-right:1px solid; height:35px;">5</td>
                                    <td width="70%">1,600.00</td>
                                </tr>
                            </table>
                        </td>
                        <td width="10%"
                            style="border-top:1px solid; border-right:1px solid; text-align:center; height:30px;">
                            <table width="100%" cellspacing="0" cellpadding="0">
                                <tr>
                                    <td width="30%" style="border-right:1px solid; height:35px;">5</td>
                                    <td width="70%">1,600.00</td>
                                </tr>
                            </table>
                        </td>
                        <td width="10%" style="border-top:1px solid;  text-align:center; height:35px;">
                            <table width="100%" cellspacing="0" cellpadding="0">
                                <tr>
                                    <td width="30%" style="border-right:1px solid; height:35px;">-</td>
                                    <td width="70%">-</td>
                                </tr>
                            </table>
                        </td>
                        <td width="8%"
                            style="border-top:1px solid; border-left:1px solid;  text-align:center; height:30px;">
                            35,200.00
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
</div>

</body>

</html>
